<ion-view title="">
  <ion-nav-buttons side="left">
    <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
      <button menu-toggle="left"class="button button-icon icon ion-refresh"></button>
   </ion-nav-buttons>
  <ion-content class="has-header padding mainpage">

    <div class="card parknowcard">
      <div class="item item-text-wrap">
        <div class="item item-divider">
          Parking on Bunker Hill Road
        </div>

        <a href="#" class="item item-icon-left">
            <i class="icon ion-ios7-navigate"></i>
            0.7mi
          </a>

        <a class="item item-icon-left calm" href="#">
          <i class="icon ion-map"></i>
          Navigate to space
        </a>
      </div>
    </div>

  </ion-content>
</ion-view>